version: '3.8'
services:
   sqlserver:
     image: mcr.microsoft.com/mssql/server:2019-latest
     container_name: sqlserver
     environment:
       - ACCEPT_EULA=Y
       - SA_PASSWORD=
     ports:
       - "1433:1433"
     volumes:
       - sqlserver-data:/var/opt/mssql

volumes:
  sqlserver-data:

